@model ERPSzakdolgozat.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectName" class="control-label"></label>
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract" class="control-label"></label>
                <input asp-for="Contract" class="form-control" />
                <span asp-validation-for="Contract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectManager" class="control-label"></label>
                <input asp-for="ProjectManager" class="form-control" />
                <span asp-validation-for="ProjectManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedEndDate" class="control-label"></label>
                <input asp-for="EstimatedEndDate" class="form-control" />
                <span asp-validation-for="EstimatedEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractValue" class="control-label"></label>
                <input asp-for="ContractValue" class="form-control" />
                <span asp-validation-for="ContractValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursAll" class="control-label"></label>
                <input asp-for="HoursAll" class="form-control" />
                <span asp-validation-for="HoursAll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OvertimeAll" class="control-label"></label>
                <input asp-for="OvertimeAll" class="form-control" />
                <span asp-validation-for="OvertimeAll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursDone" class="control-label"></label>
                <input asp-for="HoursDone" class="form-control" />
                <span asp-validation-for="HoursDone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OvertimeDone" class="control-label"></label>
                <input asp-for="OvertimeDone" class="form-control" />
                <span asp-validation-for="OvertimeDone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoursRemaining" class="control-label"></label>
                <input asp-for="HoursRemaining" class="form-control" />
                <span asp-validation-for="HoursRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OvertimeRemaining" class="control-label"></label>
                <input asp-for="OvertimeRemaining" class="form-control" />
                <span asp-validation-for="OvertimeRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourcesCost" class="control-label"></label>
                <input asp-for="ResourcesCost" class="form-control" />
                <span asp-validation-for="ResourcesCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourcesRevenue" class="control-label"></label>
                <input asp-for="ResourcesRevenue" class="form-control" />
                <span asp-validation-for="ResourcesRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourcesCostSpent" class="control-label"></label>
                <input asp-for="ResourcesCostSpent" class="form-control" />
                <span asp-validation-for="ResourcesCostSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourcesCostRemaining" class="control-label"></label>
                <input asp-for="ResourcesCostRemaining" class="form-control" />
                <span asp-validation-for="ResourcesCostRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskCost" class="control-label"></label>
                <input asp-for="RiskCost" class="form-control" />
                <span asp-validation-for="RiskCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskRevenue" class="control-label"></label>
                <input asp-for="RiskRevenue" class="form-control" />
                <span asp-validation-for="RiskRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskCostSpent" class="control-label"></label>
                <input asp-for="RiskCostSpent" class="form-control" />
                <span asp-validation-for="RiskCostSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskCostRemaining" class="control-label"></label>
                <input asp-for="RiskCostRemaining" class="form-control" />
                <span asp-validation-for="RiskCostRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRevenue" class="control-label"></label>
                <input asp-for="TotalRevenue" class="form-control" />
                <span asp-validation-for="TotalRevenue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCostSpent" class="control-label"></label>
                <input asp-for="TotalCostSpent" class="form-control" />
                <span asp-validation-for="TotalCostSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCostRemaining" class="control-label"></label>
                <input asp-for="TotalCostRemaining" class="form-control" />
                <span asp-validation-for="TotalCostRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
