@font-face {
	font-family: 'FiraSans';
	src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'FiraSansMedium';
	src: url('../fonts/FiraSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'FiraSansItalic';
	src: url('../fonts/FiraSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'CovesBold';
	src: url('../fonts/Coves Bold.otf') format('opentype');
}

@font-face {
	font-family: 'CovesLight';
	src: url('../fonts/Coves Light.otf') format('opentype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'MontserratMedium';
	src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'MontserratItalic';
	src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsMedium';
	src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'PoppinsItalic';
	src: url('../fonts/Poppins-Italic.ttf') format('truetype');
}
