body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: Roboto, sans-serif !important;
}

td {
	vertical-align: middle !important;
}

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.nav-tabs {
	margin-bottom: 10px;
}

.list-group-item {
	padding: 10px 16px;
}

.bg-light {
	background-color: #fff;
	color: #333333;
}

.bg-dark {
	background-color: #4d4d4d;
	color: #fff;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.margin-bottom-sm {
	margin-bottom: 10px !important;
}

.dropdown-header {
	color: #6d94bf;
	text-shadow: 2px 2px 2px rgba(140, 140, 140, 0.5);
}
/* Set a different color for it because the navbar is dark blue */
@media screen and (max-width: 992px) {
	.dropdown-header {
		color: #a6c2e0;
		text-shadow: 2px 2px 2px rgba(220, 220, 220, 0.5);
	}
}

input[type="file"] {
	display: none;
}

.inputfile {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

/* Paddings and margins */
.pt-sm {
	padding-top: 6px !important;
}

.pt-md {
	padding-top: 12px !important;
}

.pt-lg {
	padding-top: 18px !important;
}

.pb-sm {
	padding-bottom: 6px !important;
}

.pb-md {
	padding-bottom: 12px !important;
}

.pb-lg {
	padding-bottom: 18px !important;
}

.pl-sm {
	padding-left: 6px !important;
}

.pl-md {
	padding-left: 12px !important;
}

.pl-lg {
	padding-left: 18px !important;
}

.pr-sm {
	padding-right: 6px !important;
}

.pr-md {
	padding-right: 12px !important;
}

.pr-lg {
	padding-right: 18px !important;
}

.mt-sm {
	margin-top: 6px !important;
}

.mt-md {
	margin-top: 12px !important;
}

.mt-lg {
	margin-top: 18px !important;
}

.mb-sm {
	margin-bottom: 6px !important;
}

.mb-md {
	margin-bottom: 12px !important;
}

.mb-lg {
	margin-bottom: 18px !important;
}

.ml-sm {
	margin-left: 6px !important;
}

.ml-md {
	margin-left: 12px !important;
}

.ml-lg {
	margin-left: 18px !important;
}

.mr-sm {
	margin-right: 6px !important;
}

.mr-md {
	margin-right: 12px !important;
}

.mr-lg {
	margin-right: 18px !important;
}

.modal {
	text-align: center;
}

	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
