@{
    ViewData["Title"] = "Support";
	List<string> emails = (List<string>)ViewData["AdminEmails"];
}

<h2>@ViewData["Title"]</h2>

<hr />

<address>
    <strong>Technical, bug-reports, change-requests:</strong>
	<ul>
		<li><a href="mailto:gergelyzsolt.hrv@gmail.com">gergelyzsolt.hrv@gmail.com</a></li>
	</ul>

    <strong>Administration, user-issues:</strong>
	<ul>
		@foreach (string em in emails)
		{
			<li><a href="mailto:@(em)">@(em)</a></li>
		}
	</ul>
</address>
