@model ERPSzakdolgozat.Models.AppUser

@{
    ViewData["Title"] = "User - Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group text-center">
				@if (Model.ProfilePicture != null)
				{
					string imageBase64 = Convert.ToBase64String(Model.ProfilePicture);
					string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
					<img src="@imageSrc" class="img-thumbnail" />
				}
				else
				{
					<img src="~/images/userdefault.png" style="background-color:lightgrey;" />
				}
			</div>
			<div class="form-group">
				<label asp-for="ADName" class="control-label"></label>
				<input asp-for="ADName" class="form-control" />
				<span asp-validation-for="ADName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DisplayName" class="control-label"></label>
				<input asp-for="DisplayName" class="form-control" />
				<span asp-validation-for="DisplayName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" type="email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="CreatedDate" />
			<input type="hidden" asp-for="ModifiedDate" />
			<input type="hidden" asp-for="ProfilePicture" />

			<div class="form-group">
				<a asp-action="Index" class="btn btn-default">Back to List</a>

				<input type="submit" value="Save" class="btn btn-primary pull-right ml-lg" />
				<a asp-area="" asp-controller="AppUsers" asp-action="ResetPicture" asp-route-id="@Model.Id" class="btn btn-warning pull-right">Reset Picture</a>
			</div>
		</form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
