@model AppUser

@if (Model != null)
{
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="padding-top: 10px !important; padding-bottom: 10px !important;">
			@if (Model.ProfilePicture == null)
			{
				<img src="~/images/userdefault.png" height="30" style="background-color:lightgrey;" />
			}
			else
			{
				string imageBase64 = Convert.ToBase64String(Model.ProfilePicture);
				string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
				<img src="@imageSrc" height="30" />
			}
			Hello, @Model.DisplayName <span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li class="dropdown-header">@User.Identity.Name</li>
			<li><a asp-area="" asp-controller="AppUsers" asp-action="SelfEdit">Settings</a></li>
			<li class="divider"></li>
			<li><a asp-area="" asp-controller="Clients" asp-action="Statistics">Statistics</a></li>
		</ul>
	</li>
}
else
{
	<li class="navbar-text">I don't know you. Get out!</li>
}